<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495254904227-tla71c5rhgfkl1drbklp1q8ang4vut6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495254904227-tla71c5rhgfkl1drbklp1q8ang4vut6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDmYFyDOMUTR-FRpHVcZKhzmTZDXKBmqU4</string>
	<key>GCM_SENDER_ID</key>
	<string>495254904227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gilog</string>
	<key>PROJECT_ID</key>
	<string>gi-log-1bc9a</string>
	<key>STORAGE_BUCKET</key>
	<string>gi-log-1bc9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495254904227:ios:a58e70988cd81cb4d9ce16</string>
</dict>
</plist>