<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533789313915-6c9ovkqvfljk8p7odggpq6iurb6n9jqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533789313915-6c9ovkqvfljk8p7odggpq6iurb6n9jqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCr4HGylH2hCW-gPincq4w33Fcs9L_jbu8</string>
	<key>GCM_SENDER_ID</key>
	<string>533789313915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gilog</string>
	<key>PROJECT_ID</key>
	<string>gilog-5a989</string>
	<key>STORAGE_BUCKET</key>
	<string>gilog-5a989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533789313915:ios:7e6f40598dd56425894bde</string>
</dict>
</plist>